body{
  /**Chooses the basic bg color and font. Centers the text  **/
  background-color: #FAF8DE;
  font-family: Courier New;
  text-align: center;
}


h1{
    /**Decides the color, size, and margins for the heading **/
  color:#48420C;
  font-size: 28px;
  margin-right: 175px;
  margin-left: 175px;
}


.subtext{
    /**Decides the color, size, and margins for paragraphs**/
  color:#48420C;
  font-size: 18px;
  text-align:center;
  margin-right: 175px;
  margin-left: 175px;
}

.imgmargin{
    /**Decides the margins and centers all images **/
  margin-top: 15px;
  margin-left: 175px;
  margin-right: 175px;
  text-align: center;
  margin-bottom: 15px;
}
